<div class="hotline {{ settings.widgetClass }}">
    <span class="icon icon-phone"></span><!-- /.icon-phone -->
    {% if settings.HOTLINE %}
      <span class="hotline-label">{{ settings.HOTLINE }}</span><!-- /.hotline-label -->
    {% endif %}
    {% if settings.phone.number %}
      <span class="hotline-phone-number">{{ settings.phone.number }}</span><!-- /.hotline-phone -->
    {% endif %}
    {% if settings.phone.country %}
      <span class="hotline-country">({{ settings.phone.country }})</span><!-- /.hotline-country -->
    {% endif %}
    {% if settings.showLanguageInHeader %}
      <div class="hotline-language">
          <span class="hotline-language-separator">|</span>
      </div><!-- /.hotline-language -->
    {% endif %}
    {% if settings.SUPPORT %}
      <br /><span class="hotline-support">{{ settings.SUPPORT }}</span><!-- /.hotline-support -->
    {% endif %}
</div><!-- /.hotline -->
