<div class="quantity-field-wrapper">
    <table cellpadding="0" cellspacing="0" class="quantity-field quantity-minus-plus-before">
        <tr>
            <td class="quantity-field__modifier">
                <button type="button" class="quantity-field-button minus">
                    <span class="icon">-</span>
                </button><button type="button" class="quantity-field-button plus">
                    <span class="icon">+</span>
                </button>
            </td>
            <td class="quantity-field__input"></td>
        </tr>
    </table>
</div>