<div class="quantity-field-wrapper">
    <table cellpadding="0" cellspacing="0" class="quantity-field quantity-vertical-plus-minus-input">
        <tr>
            <td class="quantity-field__modifier quantity-field__modifier--plus ">
                <button type="button" class="quantity-field-button plus">
                    <span class="icon">+</span>
                </button>
            </td>
            <td rowspan="2" class="quantity-field__input"></td>
        </tr>
        <tr>
            <td class="quantity-field__modifier quantity-field__modifier--minus ">
                <button type="button" class="quantity-field-button minus">
                    <span class="icon">-</span>
                </button>
            </td>
        </tr>
    </table>
</div>