{% if settings.showBox %}
    <div id="secure-checkout" class="order__box {{ settings.widgetClass }}">
        <div class="order__box__aux1">
            <div class="order__box__aux2">
                {% if settings.showBoxTitle and settings.showTitle %}	
                <div class="order__box__title">
                    <div class="order__box__aux1">
                        <div class="order__box__aux2">
                            <span class="icon {{ settings.headerIconClass }}"></span> {{ settings.headerLabel }}
                        </div>
                    </div>
                </div>
                {% endif %}		
                <div class="order__box__content">
                    <div class="order__box__aux1">
                        <div class="order__box__aux2 secure-checkout-content clearfix">
                            {% if ( not settings.showBoxTitle ) and settings.showTitle %}	
                            <div class="secure-checkout-header">
                                <span class="icon {{ settings.headerIconClass }}"></span> {{ settings.headerLabel }}
                            </div>
                            {% endif %}
                            {% if settings.showSealsAfterText %}
                                {{ settings.content }}
                                <div class="secure-checkout-seals">
                                    <img src="{{ settings.avangateLogoSrc }}" alt="" class="avangate-logo">
                                </div>
                            {% else %}
                                <div class="secure-checkout-seals">
                                    <img src="{{ settings.avangateLogoSrc }}" alt="" class="avangate-logo">
                                </div>
                                {{ settings.content }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="order__box__footer">
                    <div class="order__box__aux1">
                        <div class="order__box__aux2">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% else %}
    <div class="secure-checkout-content clearfix">
        {% if settings.showTitle %}
        <div class="secure-checkout-header">
            <span class="icon {{ settings.headerIconClass }}"></span> {{ settings.headerLabel }}
        </div>
        {% endif %}
        {% if settings.showSealsAfterText %}
            {{ settings.content }}
            <div class="secure-checkout-seals">
                <img src="{{ settings.avangateLogoSrc }}" alt="" class="avangate-logo">
            </div>
        {% else %}
            <div class="secure-checkout-seals">
                <img src="{{ settings.avangateLogoSrc }}" alt="" class="avangate-logo">
            </div>
            {{ settings.content }}
        {% endif %}
    </div>
{% endif %}