/* HEADER
   -------------------------------- */
#header {
    width: @header-width;
    background: @header-bg;
    color: @header-color;
    padding: @header-padding;
    border: @header-border;
    border-width: @header-border-width;
    margin: @header-margin;
}

#subheader {
    width: @subheader-width;
    background: @subheader-bg;
    padding: @subheader-padding;
    border-bottom: @subheader-border;
    margin: @subheader-margin;
}
