<button type="button" name="Update" class="btn btn-default backup-cd-new-input" data-trigger="#{{ settings.inputIDs[index] }}">
    {% if settings.showIcon %}
      <span class="icon icon-{{ settings.btnIcon }}"></span>
    {% endif %}
    {{ settings.addLabel }}
</button>