body.layout-3 {
    .container {
        max-width: 990px;
    }
    
    .payment-options-combo.layout-3 .payment-options-select {
        margin-top: @table-cell-padding;
    }
    
    @media screen and (max-width: 550px) {
        table.order__checkout__addfields__content {
            .text {
                width: 100%;
            }

            .select-box {
                width: 100% !important;
            }
        }
    }
}