body.layout-4 {
    .order__checkout__addfields__content input[type="text"] {
        width: 100%;
    }
    
    #order__sub__total__row > td,
    #order__checkout__billing__info__tbody > tr > td,
    #order__checkout__billing__payoptions__table > tbody > tr > td {
        padding-bottom: 0;
    }
    
    @media screen and (max-width: 550px) {
        table.order__checkout__addfields__content {
            .text {
                width: 100%;
            }

            .select-box {
                width: 100% !important;
            }
        }
    }
}