/* ==========================================================================
   DEFAULT LAYOUT
   ========================================================================== */
.cart-steps {
    position: relative;
    padding: @cart-steps-padding;
    margin: @cart-steps-margin;
}

#steps-wrap {
    width: 100%;
    font-size: @cart-steps-font-size;
    table-layout: fixed;
    position: relative;
    z-index: 2;
    #steps {
        .step {
            text-align: center;
        }
        .step-box-out {
            display: none;
        }
        .step-nr-wrapper, .step-name {
            display: inline-block;
            background: @body-bg;
            padding-right: 10px;
            line-height: 30px;
        }
        .step.colored .step-name {
            color: @cart-steps-active-color;
        }
        .step-nr-wrapper {
            padding-left: 10px;
        }
        .step-nr {
            line-height: 30px;
            width: 30px;
            text-align: center;
            border-radius: 50%;
            background-clip: padding-box;
            box-sizing: content-box;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            border: 1px solid @cart-steps-active-color;
            color: @cart-steps-active-color;
        }
        .step-nr-text {
            font-weight: bold;
        }
        .step-icon {
            display: none;
        }
        .step.checked .step-nr, .step.current .step-nr {
            background: @cart-steps-active-color;
            color: #FFF;
        }
    }
}

.rtl #steps-wrap.default #steps .step-name {
    padding-right: 0;
    padding-left: 10px;
}

#steps-progress-bar-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateZ(0) scale(1.0, 1.0);
    -webkit-transform: translateY(-50%) translateZ(0) scale(1.0, 1.0);
    -ms-transform: translateY(-50%) translateZ(0) scale(1.0, 1.0);
    z-index: 1;
    width: 100%;
    table-layout: fixed;
    #steps-progress-bar {
        width: 100%;
    }
    #steps-progress-bar-content {
        .step-bar {
            font-size: 1px;
        }
        .step-bar-left-content,
        .step-bar-right-content {
            width: 50%;
            height: 0;
            border-top-width: 2px;
            border-top-style: solid;
            border-top-color: @cart-steps-inactive-color;
            border-bottom-width: 2px;
            border-bottom-style: solid;
            border-bottom-color: @cart-steps-inactive-color;
        }
        .step-bar-left-content {
            float: left;
        }
        .step-bar-right-content {
            float: right;
        }
        .step-bar.checked .step-bar-left-content,
        .step-bar.checked .step-bar-right-content,
        .step-bar.current .step-bar-left-content {
            border-top-color: @cart-steps-active-color;
            border-bottom-color: @cart-steps-active-color;
        }
        .step-bar.first.checked .step-bar-left-content,
        .step-bar.first.current .step-bar-left-content {
            border-top-color: transparent;
            border-bottom-color: transparent;
        }
        .step-bar.last .step-bar-right-content {
            border-top-color: transparent;
            border-bottom-color: transparent;
        }
    }
}

#steps-progress-bar-wrap.dotted .step-bar .step-bar-left-content,
#steps-progress-bar-wrap.dotted .step-bar .step-bar-right-content {
    border-top-style: dotted !important;
    border-bottom-style: dotted !important;
}
#steps-progress-bar-wrap.dashed .step-bar .step-bar-left-content,
#steps-progress-bar-wrap.dashed .step-bar .step-bar-right-content {
    border-top-style: dashed !important;
    border-bottom-style: dashed !important;
}

.rtl #steps-progress-bar-wrap #steps-progress-bar-content {
    .step-bar-left-content {
        float: right;
    }
    .step-bar-right-content {
        float: left;
    }
}

#steps-progress-bar-wrap.default {
    transform: translateY(-50%) translateZ(0) scale(1.0, 1.0);
    -webkit-transform: translateY(-50%) translateZ(0) scale(1.0, 1.0);
    -ms-transform: translateY(-50%) translateZ(0) scale(1.0, 1.0);
}

/* ==========================================================================
   PRESET 1
   ========================================================================== */
#steps-wrap.preset-1 {
    #steps {
        .step {
            vertical-align: top;
        }
        
        .step-box-out {
            display: block;
            width: 20px;
            margin: 0 auto;
            padding: 0 10px;
            box-sizing: content-box;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            background: @body-bg;
        }
        .step-box {
            position: relative;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-clip: padding-box;
            background: @cart-steps-active-color;
        }
        .step-box-in {
            position: absolute;
            top: 5px;
            left: 5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-clip: padding-box;
            background: @body-bg;
        }
        .step-nr-wrapper {
            display: none;
        }
        .step-nr-text {
            font-weight: normal;
        }
        .step.checked .step-icon {
            display: inline-block;
            padding: 4px 0;
        }
        .step.checked .step-nr-text {
            display: none;
        }
        .step-name {
            background: transparent;
            padding-right: 0;
            padding-bottom: 10px;
        }
        .step-name.on-bottom {
            padding-top: 10px;
            padding-bottom: 0;
        }
    }
}

#steps-progress-bar-wrap.preset-1 {
    top: auto;
    bottom: 17px;
    #steps-progress-bar-content {
        .step-bar-left-content,
        .step-bar-right-content {
            border-top-width: 1px;
            border-bottom-width: 1px;
        }
    }
}

#steps-progress-bar-wrap.preset-1.labels-on-bottom {
    top: 10px;
    bottom: auto;
}

/* ==========================================================================
   PRESET 2
   ========================================================================== */
#steps-wrap.preset-2 {
    #steps {
        .step {
            vertical-align: top;
        }
        
        .step-box-out {
            display: block;
            width: 24px;
            margin: 0 auto;
            box-sizing: content-box;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
        }
        .step-box {
            position: relative;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-clip: padding-box;
            background: @body-bg;
            border: 2px solid @cart-steps-active-color;
        }
        .step-box-in {
            position: absolute;
            top: 5px;
            left: 5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-clip: padding-box;
        }
        .step.checked .step-box-in {
            background: @cart-steps-active-color;
        }
        .step-nr-wrapper {
            display: none;
        }
        .step-nr-text {
            font-weight: normal;
        }
        .step.checked .step-icon {
            display: inline-block;
            padding: 4px 0;
        }
        .step.checked .step-nr-text {
            display: none;
        }
        .step-name {
            background: transparent;
            padding-right: 0;
            padding-bottom: 10px;
        }
        .step-name.on-bottom {
            padding-top: 10px;
            padding-bottom: 0;
        }
    }
}

#steps-progress-bar-wrap.preset-2 {
    top: auto;
    bottom: 20px;
    #steps-progress-bar-content {
        .step-bar-left-content,
        .step-bar-right-content {
            border-top-width: 1px;
            border-bottom-width: 1px;
        }
    }
}

#steps-progress-bar-wrap.preset-2.labels-on-bottom {
    top: 12px;
    bottom: auto;
}

/* ==========================================================================
   PRESET 3
   ========================================================================== */
#steps-wrap.preset-3 {
    #steps {
        .step {
            vertical-align: top;
        }
        
        .step-box-out {
            display: block;
            width: 24px;
            margin: 0 auto;
            box-sizing: content-box;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
        }
        .step-box {
            position: relative;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-clip: padding-box;
        }
        .step-box-in {
            position: absolute;
            top: 15px;
            left: 5px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-clip: padding-box;
            background: @cart-steps-inactive-color;
        }
        .step.checked .step-box-in,
        .step.current .step-box-in {
            background: @cart-steps-active-color;
        }
        .step-nr-wrapper {
            display: none;
        }
        .step-nr-text {
            font-weight: normal;
        }
        .step.checked .step-icon {
            display: inline-block;
            padding: 4px 0;
        }
        .step.checked .step-nr-text {
            display: none;
        }
        .step-name {
            background: transparent;
            padding-right: 0;
            padding-bottom: 10px;
        }
        .step-name.on-bottom {
            padding-top: 10px;
            padding-bottom: 0;
        }
    }
}

#steps-progress-bar-wrap.preset-3 {
    top: auto;
    bottom: 16px;
    #steps-progress-bar-content {
        .step-bar-left-content,
        .step-bar-right-content {
            border-top-width: 1px;
            border-bottom-width: 1px;
        }
    }
}

#steps-progress-bar-wrap.preset-3.labels-on-bottom {
    top: 22px;
    bottom: auto;
}

/* ==========================================================================
   PRESET 4
   ========================================================================== */
#steps-wrap.preset-4 {
    #steps {
        .step-nr {
            border: 0px solid transparent;
            background: @cart-steps-inactive-color;
            line-height: 22px;
            width: 22px;
        }
        .step-nr-text {
            font-weight: normal;
        }
        .step.checked .step-icon {
            display: inline-block;
            line-height: 22px;
            width: 22px;
            height: 22px;
            position: relative;
            top: 4px;
        }
        .step.checked .step-nr-text {
            display: none;
        }
    }
}

.rtl #steps-wrap.preset-4 #steps .step-name {
    padding-right: 0;
    padding-left: 10px;
}

/* ==========================================================================
   PRESET 5
   ========================================================================== */
#steps-wrap.preset-5 {
    #steps {
        .step {
            text-align: right;
            position: relative;
        }
        .step-box-out {
            display: block;
            position: absolute;
            top: 20px;
            right: 0;
        }
        .step-box {
            width: 2px;
            height: 10px;
            background: @cart-steps-inactive-color;
        }
        .step-nr-wrapper {
            display: none;
        }
        .step-nr-text {
            font-weight: normal;
        }
        .step.checked .step-icon {
            display: inline-block;
            padding-top: 4px;
            padding-bottom: 4px;
        }
        .step.checked .step-nr-text {
            display: none;
        }
        .step-name {
            background: transparent;
            padding-right: 5px;
            padding-top: 30px;
            text-transform: uppercase;
        }
    }
}

.rtl #steps-wrap.preset-5 #steps {
    .step {
        text-align: left;
    }
    .step-box-out {
        right: auto;
        left: 0;
    }
    .step-name {
        padding-right: 0;
        padding-left: 5px;
    }
}

#steps-progress-bar-wrap.preset-5 {
    top: 10px;
    border: 1px solid @cart-steps-inactive-color;
    border-radius: 4px;
    background-clip: padding-box;
    padding: 5px;
    #steps-progress-bar-content {
        .step-bar-left-content,
        .step-bar-right-content {
            border-top-width: 1px;
            border-bottom-width: 1px;
        }
        
        .step-bar.first.checked .step-bar-left-content,
        .step-bar.first.current .step-bar-left-content {
            border-top-color: @cart-steps-active-color;
            border-bottom-color: @cart-steps-active-color;
        }
        .step-bar.last .step-bar-right-content {
            border-top-color: @cart-steps-inactive-color;
            border-bottom-color: @cart-steps-inactive-color;
        }
        .step-bar.current .step-bar-right-content {
            border-top-color: @cart-steps-active-color;
            border-bottom-color: @cart-steps-active-color;
        }
        .step-bar.last.checked .step-bar-left-content,
        .step-bar.last.current .step-bar-left-content {
            border-top-color: @cart-steps-active-color;
            border-bottom-color: @cart-steps-active-color;
        }
    }
}

/* ==========================================================================
   BROWSER COMPATIBILITY
   ========================================================================== */
.ie-7 #steps-progress-bar-wrap.default,
.ie-7 #steps-progress-bar-wrap.preset- { top: 35%; }
.ie-7 #steps-progress-bar-wrap.preset-4 { top: 30%; }

.ie-7 #steps-progress-bar-wrap #steps-progress-bar-content .step-bar-right-content { margin-top: -4px; }
.ie-7 #steps-progress-bar-wrap.preset-1 #steps-progress-bar-content .step-bar-right-content,
.ie-7 #steps-progress-bar-wrap.preset-2 #steps-progress-bar-content .step-bar-right-content,
.ie-7 #steps-progress-bar-wrap.preset-3 #steps-progress-bar-content .step-bar-right-content,
.ie-7 #steps-progress-bar-wrap.preset-5 #steps-progress-bar-content .step-bar-right-content { margin-top: -2px; }

.ie-7 #steps-wrap #steps .step-nr-wrapper { background: transparent; }
.ie-7 #steps-wrap #steps .step-nr { background: @body-bg; }
.ie-7 #steps-wrap #steps .step-name { padding-top: 5px; }

.ie-7 #steps-wrap.preset-5 #steps .step-box-out { top: 15px; }
.ie-8 #steps-wrap.preset-5 #steps .step-box-out,
.ie-9 #steps-wrap.preset-5 #steps .step-box-out { top: 16px; }

.ie-7 #steps-wrap.preset-5 #steps .step-name,
.ie-8 #steps-wrap.preset-5 #steps .step-name,
.ie-9 #steps-wrap.preset-5 #steps .step-name { padding-top: 26px; }

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
@media screen and (max-width: 844px) {
    #steps-wrap #steps .step .step-name {
        display: none;
    }
    #steps-wrap #steps .step.current .step-name {
        display: inline-block;
    }
    #steps-wrap #steps .step,
    #steps-progress-bar-wrap #steps-progress-bar .step-bar {
        width: 100px;
    }
    #steps-wrap #steps .step.current,
    #steps-progress-bar-wrap #steps-progress-bar .step-bar.current {
        width: auto;
    }
}

@media screen and (max-width: 400px) {
    #steps-wrap #steps .step,
    #steps-progress-bar-wrap #steps-progress-bar .step-bar {
        width: 65px;
    }
}