body.custom-placeholders table.form-table-userinfo  {
    .text {
        width: 100%;
    }
    
    .select-box {
        width: 100% !important;
    }
    
    #cbExpMounth-select-box {
        width: 145px !important;
    }
    #cbExpYear-select-box {
        width: 83px !important;
    }
    
    #order_person_company .order__checkout__form__label {
        display: none;
    }
}