#order__coupon__input {
    float: left;
}
.remove-product-button {
    background: url("https://secure.avangate.com/images/merchant/3cba81c5c6cac4ce77157631fc2dc277/delete-product-initial-state.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 17px;
    width: 12px;
}
.remove-product-button:hover {
    background: url("https://secure.avangate.com/images/merchant/aff1621254f7c1be92f64550478c56e6/delete-product.png") no-repeat scroll center top rgba(0, 0, 0, 0);
}

#coupon-apply {
    height: @input-height-base; 
    font-size: 22px;
    border: none;
    background: none;
    vertical-align: middle;
}