.field-helper {
    position: relative;
    display: inline-block;
    
    .icon {
        color: @field-helper-popup-tooltip-color;
        padding-left: 5px;
        padding-right: 5px;
        line-height: @field-helper-icon-line-height;
    }
    
    .field-helper-popup {
        text-align: left;
        position: absolute;
        top: 0;
        left: 100%;
        border: @field-helper-popup-border;
        border-radius: @box-border-radius;
        z-index: 90;
        background: @field-helper-popup-bg;
        padding: @field-helper-popup-padding;
        box-shadow: @field-helper-popup-box-shadow;
        display: none; 
    }

    &:hover .field-helper-popup {
        display: block;
    }
    
    &:hover .icon {
        color: @field-helper-popup-tooltip-hover-color;
        cursor: help;
    }
}

.field-helper.mirrored .field-helper-popup {
    left: auto;
    right: 100%;
}

.field-wrapper {
    padding-right: 24px;
}

// Right to left text
body.rtl {
    .field-wrapper {
        padding-left: 24px;
        padding-right: 0;
    }
    
    .field-helper .field-helper-popup {
        text-align: right;
        left: auto;
        right: 100%;
    }

    .field-helper.mirrored .field-helper-popup {
        left: 100%;
        right: auto;
    }
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
@media screen and (max-width: 599px) {
    body,
    body.rtl {
        .field-wrapper {
            margin-right: 0;
        }
        .field-helper {
            display: none;
        }
    }
}