.secure-checkout-header {
    font-weight: bold;
    color: @box-header-color;
    padding-top: @padding-small-vertical;
    padding-bottom: @padding-large-vertical;
    text-transform: uppercase;
}

.secure-checkout-header .icon.icon-lock {
    display: inline-block;
    position: relative;
    top: 2px;
}

.secure-checkout-content {
    width: 100%;
    background: @secure-checkout-content-bg;
    line-height: @secure-checkout-content-line-height;
    padding-bottom: @table-cell-padding;
}

.secure-checkout-seals {
    float: right;
    margin-left: 30px;
    margin-bottom: @padding-large-vertical;
    display: block;
    max-width: 100%;
    
    .avangate-logo {
        max-width: 150px;
    }
}

.secure-checkout-content-table {
    width: 100%;
    
    .secure-checkout-seals {
        margin: 0;
    }
    
    .secure-checkout-content-text {
        width: 50%;
    }
}

// Right to left text
body.rtl .secure-checkout-seals {
    float: left;
    margin-right: 30px;
}

// Media queries
@media screen and (max-width: 991px) {
    .secure-checkout-content-table .secure-checkout-content-text,
    .secure-checkout-content-table .secure-checkout-seals {
        display: block;
        width: 100%;
    }
    .secure-checkout-content-table .secure-checkout-seals {
        float: none;
        margin: @padding-large-vertical 0 0 0;
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    .secure-checkout-seals,
    body.rtl .secure-checkout-seals {
        float: none;
        margin-left: 0px;
        margin-right: 0px;
    }
}