.valid-select {
    border: 1px solid @brand-success !important;
}
.valid {
    background-image: url("https://edge.avangate.net/images/merchant/3cba81c5c6cac4ce77157631fc2dc277/validare-input.png") !important;
    background-position: 98% center;
    background-repeat: no-repeat;
    border: 1px solid @brand-success !important;
}
