/* ==========================================================================
    Font-Face: AvaIcons
    Version: 1.0
   ========================================================================== */

@font-face {
    font-family: "AvaIcons";
    src: url("@{resources-domain}/images/merchant/675f9820626f5bc0afb47b57890b466e/avaicons.eot");
    src: url("@{resources-domain}/images/merchant/675f9820626f5bc0afb47b57890b466e/avaicons.eot?#iefix") format("embedded-opentype"), url("@{resources-domain}/images/merchant/675f9820626f5bc0afb47b57890b466e/avaicons.woff") format("woff"), url("@{resources-domain}/images/merchant/675f9820626f5bc0afb47b57890b466e/avaicons.ttf") format("truetype"), url("@{resources-domain}/images/merchant/675f9820626f5bc0afb47b57890b466e/avaicons.svg#avaicons") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before, .ie-before {
    font-family: "AvaIcons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-coupon:before, .icon-coupon .ie-before {
    content: "a";
}
.icon-phone:before, .icon-phone .ie-before {
    content: "b";
}
.icon-placeorder:before, .icon-placeorder .ie-before {
    content: "c";
}
.icon-refresh:before, .icon-refresh .ie-before {
    content: "d";
}
.icon-lifebuoy:before, .icon-lifebuoy .ie-before {
    content: "e";
}
.icon-paypal:before, .icon-paypal .ie-before {
    content: "f";
}
.icon-search-find:before, .icon-search-find .ie-before {
    content: "g";
}
.icon-align-justify:before, .icon-align-justify .ie-before {
    content: "h";
}
.icon-mail:before, .icon-mail .ie-before {
    content: "i";
}
.icon-check:before, .icon-check .ie-before {
    content: "j";
}
.icon-close:before, .icon-close .ie-before {
    content: "k";
}
.icon-trash-bin:before, .icon-trash-bin .ie-before {
    content: "l";
}
.icon-home:before, .icon-home .ie-before {
    content: "m";
}
.icon-download:before, .icon-download .ie-before {
    content: "n";
}
.icon-cloud-download:before, .icon-cloud-download- .ie-before {
    content: "o";
}
.icon-cd:before, .icon-cd .ie-before {
    content: "p";
}
.icon-gift:before, .icon-gift .ie-before {
    content: "q";
}
.icon-lock:before, .icon-lock .ie-before {
    content: "r";
}
.icon-credit-card:before, .icon-credit-card .ie-before {
    content: "s";
}
.icon-left-open:before, .icon-left-open .ie-before {
    content: "t";
}
.icon-down-open:before, .icon-down-open .ie-before {
    content: "u";
}
.icon-up-open:before, .icon-up-open .ie-before {
    content: "v";
}
.icon-right-open:before, .icon-right-open .ie-before {
    content: "w";
}
.icon-exclamation-circle:before, .icon-exclamation-circle .ie-before {
    content: "x";
}
.icon-info-circled:before, .icon-info-circled .ie-before {
    content: "y";
}
