<div id="x-sell" class="{% if settings.showBox %}order__box{% endif %} {{ settings.layout }} cols-{{ settings.maxProductsPerRow }} {{ settings.widgetClass }}">
    {% if settings.showBox %}
        <div class="order__box__aux1">
            <div class="order__box__aux2">
                <div class="order__box__title">
                    <div class="order__box__aux1">
                        <div class="order__box__aux2 order__crossselling_title">
                            {{ settings.headerLabel }}
                        </div>
                    </div>
                </div>

                <div class="order__box__content">
                    <div class="order__box__aux1">
    {% endif %}
                        <ul class="{% if settings.showBox %}order__box__aux2{% endif %} cross__selling__content x-sell-products">
                            {% for crossSellProductID, crossSellProduct in settings.crossSellProducts %}
                                <li class="x-sell-prod x-sell-prod-{{ loop.index }}
                                    {% if loop.first %}first{% elif loop.last %}last{% endif %}" id="x-sell-prod-id-{{ crossSellProduct.ProductID }}">
                                    <div class="x-sell-prod-content">
                                        {% if crossSellProduct.ProductLink and settings.showProductLink %}
                                            <a class="x-sell-prod-link" href="{{ crossSellProduct.ProductLink }}" title="{{ crossSellProduct.ProductName }}">
                                        {% endif %}
                                            {% if settings.showProductImage and crossSellProduct.ProductImages and crossSellProduct.ProductImages[settings.picSize] %}
                                                <img src="{{ crossSellProduct.ProductImages[settings.picSize] }}" class="x-sell-img" />
                                            {% endif %}
                                                <span class="x-sell-product-title">{{ crossSellProduct.ProductName }}</span>
                                        {% if crossSellProduct.ProductLink %}
                                            </a>
                                        {% endif %}

                                        {% if settings.showProductDescription and crossSellProduct.ProductDescription %}
                                            <div class="x-sell-product-description-popup">
                                                <span class="icon icon-info-circled"></span>
                                                <div class="x-sell-product-description">{{ crossSellProduct.ProductDescription }}</div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="x-sell-prod-prices">
                                        {% if settings.showDiscount and crossSellProduct.ProductDiscount %}
                                            <div class="x-sel-prod-discount">
                                                <div class="x-sel-prod-discount-box"></div>
                                                <div class="x-sel-prod-discount-value">
                                                    {% if crossSellProduct.ProductDiscount %}
                                                        - {{ crossSellProduct.ProductDiscount|round(0, 'floor') }}%
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if crossSellProduct.ProductDiscount %}
                                        <div class="old-price">
                                            {% if settings.displayCurrency != settings.billingCurrency %}
                                                <span class="old-price-display">{{ crossSellProduct.ProductPriceFullInDisplayedCurrency }} {{ settings.displayCurrency }}</span> <br />
                                            {% endif %}
                                            <span class="old-price-billing">{{ crossSellProduct.ProductPriceFull }} {{ settings.billingCurrency }}</span>
                                        </div>
                                        {% endif %}
                                        <div class="new-price">
                                            {% if settings.displayCurrency != settings.billingCurrency %}
                                                <span class="new-price-display">{{ crossSellProduct.ProductPriceInDisplayedCurrency }} {{ settings.displayCurrency }}</span> <br />
                                            {% endif %}
                                            <span class="new-price-billing">{{ crossSellProduct.ProductPrice }} {{ settings.billingCurrency }}</span>
                                        </div>
                                    </div>
                                    <div class="x-sell-prod-add">
                                        <button id="btn{{ loop.index }}--btn" data-trigger="#{{ crossSellProduct.ProductID }}" type="button" class="btn btn-primary add-cross-sell " name="UpdateCrossSell"><span class="icon {{ settings.addToCartIconClass }}">{{ settings.addToCartIconContent }}</span> <span class="btn-text">{{ settings.addToCartLabel }}</span></button>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
    {% if settings.showBox %}
                    </div>
                </div>

                <div class="order__box__footer">
                    <div class="order__box__aux1">
                        <div class="order__box__aux2">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}
</div>