@media screen and (max-width: 959px) {
    .ui-dialog {
       margin: 0 auto !important;
       position: fixed !important;
       top: 0 !important;
       bottom: auto !important;
       left: auto !important;
       right: auto !important;
       width: 100% !important;
       height: 100% !important;
    }
    .ui-dialog .ui-dialog-content {
       height: 96% !important;
    }
}

.ui-dialog {
    .ui-dialog-titlebar.ui-widget-header {
        border: 0px solid transparent;
        background: transparent;
        padding: .3em .3em .5em 1em;
    }
    
    border: 0px solid transparent;
}
