.sprite-48 { background-image: url("/images/merchant/6531b32f8d02fece98ff36a64a7c8260/sprite-48x33.png"); }
.sprite-48.pay_opt_1 { /*Visa*/
    background-position: 0 194px;
    height: 33px;
    width: 96px;

  }
.sprite-48.pay_opt_2 { /*Bank Wire*/
    background-position: -55px 435px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_3  { /*Cash*/
    background-position: 0px 567px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_4 { /*Amex*/
    background-position: 0 1067px;
    height: 32px;
    width: 48px;
  }
.sprite-48.pay_opt_5 { /*Diners*/
    background-position:  0 402px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_6 { /*JCB*/
    background-position: 165px 600px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_8 { /*Paypal*/
   background-position: -58px 303px;
    height: 33px;
    width: 48px;
  }
.sprite-48.pay_opt_9 { /*Fax*/
    background-position: -57px 1002px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_11 { /*Purchase Order*/
    background-position: -57px 969px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_12 { /*Trial Pay*/
    background-position: 0 369px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_14 { /*Discover*/
    background-position: 0 1134px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_15 { /*CHECK*/
    background-position:  -57px 270px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_16 { /*Direct sofortbanking*/
    background-position:  0 1167px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_17 { /*Carte Blue*/
    background-position:  0 301px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_19 { /*Solo*/
    background-position:  0 435px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_20 { /*Alipay*/
    background-position:0 1200px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_21 { /*Direct Debit*/
    background-position: -116px 237px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_22 { /*Giro Pay*/
    background-position: 0 237px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_23 { /*Ideal*/
    background-position: 0 270px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_24 { /*WebMoney*/
    background-position: 0 336px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_25 { /*PayNearMe*/
    background-position: -338px 1200px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_27 { /*Boleto*/
    background-position:-116px 336px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_32 { /*CashU*/
    background-position: -115px 1134px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_36 { /*UKASK*/
    background-position: -115px 1167px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_37 { /*Dankort DK*/
    background-position: -115px 1101px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_38 { /*Wire*/
    background-position: -58px 1035px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_39 { /*Chinese Debit Card - ePayment*/
    background-position: -115px 1068px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_42 { /*Konbini - in Japanese*/
    background-position:-115px 1035px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_43 { /*Pago*/
    background-position: -116px 369px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_44 { /*Santander*/
    background-position: -116px 1002px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_47 { /*Pago*/
    background-position:-116px 369px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_48 { /*Qiwi*/
    background-position: -115px 303px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_49 { /*ACH*/
    background-position: -116px 270px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_50 { /*Sepa*/
    background-position: -116px 237px;
    height: 33px;
    width: 52px;
  }
.sprite-48.pay_opt_56 { /*UnionPay*/
    background-position: -170px 567px;
    height: 33px;
    width: 52px;
  }
