.sprite-16 {
	background-image: url("/images/order/sprite-icons-payments.gif");
}
.sprite-16.pay_opt_1 {
	background-position: 0 -528px;
	height: 22px;
	width: 69px;
}
.sprite-16.pay_opt_2 {
	background-position: 0 -374px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_4 {
	background-position: 0 -88px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_5 {
	background-position: 0 -132px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_6 {
	background-position: 0 -264px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_8 {
	background-position: 0 -462px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_9 {
	background-position: 0 -396px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_11 {
	background-position: 0 -418px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_12 {
	background-position: 0 -154px;
	height: 22px;
	width: 36px;
}
.sprite-16.pay_opt_14 {
	background-position: 0 -44px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_15 {
	background-position: 0 -484px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_16 {
	background-position: 0 -22px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_17 {
	background-position: 0 -198px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_19 {
	background-position: 0 -110px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_20 {
	background-position: 0 0;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_21 {
	background-position: -37px -286px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_22 {
	background-position: 0 -242px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_23 {
	background-position: 0 -220px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_24 {
	background-position: 0 -176px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_25 {
	/* Cash at 7-Eleven/Family Dollar/ACE */

background-position: -37px -220px;
	height: 22px;
	width: 64px;
}
.sprite-16.pay_opt_27 {
	background-position: -37px -352px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_32 {
	background-position: -37px -484px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_36 {
	background-position: -37px -506px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_37 {
	background-position: -37px -462px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_38 {
	background-position: 0 -374px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_39 {
	background-position: -37px -440px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_42 {
	background-position: -37px -418px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_43 {
	background-position: -37px -374px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_44 {
	background-position: -37px -396px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_47 {
	background-position: -37px -374px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_48 {
	background-position: -37px -330px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_49 {
	/*ACH*/

background-position: -37px -308px;
	height: 22px;
	width: 32px;
}
.sprite-16.pay_opt_50 {
	/*Sepa*/

background-position: 0 0;
	height: 0;
	width: 0;
}
.sprite-16.pay_opt_56 {
	/*UnionPay*/

background-position: -37px -242px;
	height: 22px;
	width: 32px;
}
