body.page-partners {
    #subheader,
    #footer {
        display: none;
    }
    
    .signup_container,
    .signup_form_table {
        width: 100%;
    }
    
    #order__container {
        margin-top: @box-margin-bottom;
        margin-bottom: @box-margin-bottom;
    }
    
    #lang_select-select-box {
        width: 155px !important;
    }
    
    .signup_form_header,
    .signup_form_contact_information {
        padding: 0;
    }
    
    .signup_form_header h1,
    .signup_form_contact_information h1 {
        background-color: @box-header-bg;
        border: @box-border;
        border-radius: @box-border-radius;
        clear: both;
        display: block;
        height: auto !important;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 10px !important;
        width: 100%;
    }
    
    .signup_form_table .signup_form_text_input,
    .signup_form_table .signup_form_select {
        border-color: @input-border;
    }
    
    .signup_container {
        font-size: 100%;
    }
    
    .signup_form_table .signup_form_description, .signup_form_table .signup_form_success_body {
        line-height: inherit;
    }
    
    .signup_form_table td {
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: @table-cell-padding;
        
        &.signup_form_header,
        &.signup_form_contact_information {
            padding-bottom: 0;
        }
        
        &.signup_form_footer {
            padding-top: @table-cell-padding;
        }
    }
}