<table class="order__cart__products__in__cart__wrapper">
    <tr class="order__cart__products__and__totals">
        <td class="order__cart__products__wrapper">
            <div class="order__cart__products__table__wrapper">
            </div>
        </td>
        <td class="order__cart__totals__wrapper">
            <table class="order__cart__totals__table">
            </table>
        </td>
    </tr>
    <tr class="order__cart__updates__and__vat">
        <td class="order__cart__updates__wrapper">
            <div class="order__cart__updates__table__wrapper">
            </div>
        </td>
        <td class="order__cart__vat__wrapper">
            <table class="order__cart__vat__table">
            </table>
        </td>
    </tr>
</table>