<table id="steps-wrap" class="{{ settings.layout }} {{ settings.widgetClass }} {% if settings.showLabelsOnTop %}labels-on-top{% else %}labels-on-bottom{% endif %}">
    <tr id="steps" class="steps-{{ settings.noOfSteps }}">
        {% for step, stepProperties in settings.steps %}
            <td class="step step-{{ loop.index }}
                {% if loop.first %}first{% elif loop.last %}last{% endif %}
                {% if settings.currentStep > loop.index %}checked {% if settings.colorCheckedSteps %}colored{% endif %}{% elif settings.currentStep == loop.index %}current {% if settings.colorCurrentStep %}colored{% endif %}{% endif %}">
                {% if settings.showLinks and settings.currentStep > loop.index %}<a class="step-link" href="{{ stepProperties.url }}" title="{{ stepProperties.label }}">{% endif %}
                {% if settings.showLabelsOnTop %}
                    <div class="step-nr-wrapper"><div class="step-nr"><span class="step-icon icon {{ settings.checkedIconClass }}"></span><span class="step-nr-text">{{ loop.index }}</span></div></div><div class="step-name on-top">{{ stepProperties.label }}</div>
                {% endif %}
                    <div class="step-box-out">
                        <div class="step-box">
                            <div class="step-box-in"></div>
                        </div>
                    </div>
                {% if not settings.showLabelsOnTop %}
                    <div class="step-nr-wrapper"><div class="step-nr"><span class="step-icon icon {{ settings.checkedIconClass }}"></span><span class="step-nr-text">{{ loop.index }}</span></div></div><div class="step-name on-bottom">{{ stepProperties.label }}</div>
                {% endif %}
                {% if settings.showLinks and settings.currentStep > loop.index %}</a>{% endif %}
            </td>
        {% endfor %}
    </tr>
</table>
<div id="steps-progress-bar-wrap" class="{{ settings.layout }} {{ settings.barStyle }} {% if settings.showLabelsOnTop %}labels-on-top{% else %}labels-on-bottom{% endif %}">
    <table id="steps-progress-bar">
        <tr id="steps-progress-bar-content">
            {% for step, stepProperties in settings.steps %}
                <td class="step-bar step-bar-{{ loop.index }}
                   {% if loop.first %}first{% elif loop.last %}last{% endif %}
                   {% if settings.currentStep > loop.index %}checked{% elif settings.currentStep == loop.index %}current{% endif %}">
                   <div class="step-bar-left-content"></div><div class="step-bar-right-content"></div>
                </td>
            {% endfor %}
        </tr>
    </table>
</div>