<ul class="payment-options payment-options-combo {% if settings.showIcons %} payment-options-{{ settings.spriteClass }} {% endif %} {{ settings.layout }} {{ settings.widgetClass }}">
    {% for option in paymentOptions %}
        {% if loop.index == settings.radioOptions + 1 %}
            <li class="payment-options-select">
                <div class="payment-options-select-selected-option" id="payment-options-select-selected-option">
                    <label for="payment-options-select-selected-option" class="payment-options-select-selected-option-label" title="{{option.title}}">
                        <span class="payment-options-select-selected-option-value">
                        {% if loop.first and settings.radioOptions == 0 %}
                            {% if settings.showIcons %}
                                {% if option.id == "cc" and settings.showGroupedCardsIcons %}
                                    {% for card in option.cards %}
                                        <img class="payment-option-image {{ settings.spriteClass }} {% if not settings.showIcons %}hide{% endif %} pay_opt_{{card.value}}" src="https://edge.avangate.net/images/spacer.gif" for="payment-option-radio-{{card.value}}" title="{{card.title}}">
                                    {% endfor %}
                                {% else %}
                                    <img class="payment-option-image {{ settings.spriteClass }} {% if not settings.showIcons %}hide{% endif %} pay_opt_{{option.value}}"  src="https://edge.avangate.net/images/spacer.gif" for="payment-option-radio-{{option.id}}" title="{{option.title}}">
                                {% endif %}
                            {% endif %}
                            <span class="payment-option-title {% if not settings.showLabels %}hide{% endif %}">{{option.title}}</span>
                        {% else %}
                            {{ settings.selectOtherMethods }}
                        {% endif %}
                        </span>
                        <div class="select-box-arrow-wrapper">
                            <span class="select-box-arrow"></span>
                        </div>
                    </label>
                </div>
                <ul class="payment-options-select-list">
        {% endif %}
        <li id="payment-option-{{option.id}}" class="payment-option {% if option.checked %}selected{% endif %}">
            <input type="radio" name="payment-option-radio" class="payment-option-radio {% if not settings.showRadioButtons %} ninja {% endif %}" id="payment-option-radio-{{option.id}}" {% if option.id == "cc" and settings.showGroupedCardsIcons %}data-payment-option-value="1"{% else %}data-payment-option-value="{{option.value}}"{% endif %} {% if option.checked  %} checked="checked" {% endif %} />

            <label for="payment-option-radio-{{option.id}}" title="{{option.title}}">
                {% if (loop.index <= settings.radioOptions) and settings.showIconsAfterText %}
                    <span class="payment-option-title {% if not settings.showLabels %}hide{% endif %}">{{option.title}}</span>
                {% endif %}

                {% if option.id == "cc" and settings.showGroupedCardsIcons %}
                    {% for card in option.cards %}
                        <img class="payment-option-image {{ settings.spriteClass }} {% if not settings.showIcons %}hide{% endif %} pay_opt_{{card.value}}" src="https://edge.avangate.net/images/spacer.gif" for="payment-option-radio-{{card.value}}" title="{{card.title}}">
                    {% endfor %}
                {% else %}
                    <img class="payment-option-image {{ settings.spriteClass }} {% if not settings.showIcons %}hide{% endif %} pay_opt_{{option.value}}" src="https://edge.avangate.net/images/spacer.gif" for="payment-option-radio-{{option.id}}" title="{{option.title}}">
                {% endif %}
                {% if (loop.index > settings.radioOptions) or ((not settings.showIconsAfterText) and settings.showLabels) %}
                    <span class="payment-option-title">{{option.title}}</span>
                {% endif %}
            </label>
        </li><!-- /.payment-option -->
        {% if loop.last  %}
                </ul><!-- /.payment-options-others-list -->
            </li><!-- /.payment-options-others -->
        {% endif %}
    {% endfor %}
</ul>
